#calculator {
    padding:10px;
    font-size: 24px;
    width:210px;
    box-shadow: 1px 1px 1px 1px;
}

.display {
    width:inherit;
}

.container__buttons {
    display:flex;
    justify-content: space-between;
}

.zero {
    text-align:center;
    grid-column: span 3;
}

.numbers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
}

.back:hover {
    background-color:blue;
    color:white;
}

.number {
    padding:20px;
    cursor: pointer;
    border-radius:5px;
}

input {
    text-align:right;
    height:40px;
    font-size:24px;
    width:inherit;
    padding:10px;
}

.signs {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.signs > div {
    border-radius:5px;
    padding:10px;
    cursor: pointer;
}

.sign:hover, .equal:hover {
    background-color:orange;
    color:white;
}

.clean:hover {
    background-color:red;
    color:white;
}


.number:hover {
    background-color:rgb(99, 99, 99);
    color:white;
}

.grid {
    width:190px;
    display:flex;
    flex-wrap:wrap;
}

.grid > button {
    width:33.3%;
    border:none;
    outline: none;
}

.nums {
    font-size:20px;
    background-color:rgb(7, 38, 58, 1);
    color:white;
    width:33%;
}

.nums:hover {
    transition: 0.5s;
    background-color:rgb(7, 38, 58, 0.75);
}

.ops {
    font-size:20px;
    background-color: rgb(207, 82, 24, 1);
    color:rgb(7, 38, 58, 1);
}

.ops:hover {
    transition:0.5s;
    background-color: rgb(207, 82, 24, 0.75);
}

.last {
    flex-basis: 100%;
}