<html>
    <meta charset="utf-8">
	<link rel="stylesheet" href="index.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
	  <script src="https://unpkg.com/vue@next"></script>
    <body>
			<div id="calculator-vue">
				<div class="grid">
				<input @keyup.enter="calc()" type="text" v-model="result" placeholder="0">
				<button @click="input(num)" class="nums" v-for="num in nums">{{num}}</button>
				<button @click="input(op)" class="ops" v-for="op in operations">{{op}}</button>
				<button class="ops" @click=reset()>R</button>
				<button class="ops last" @click=calc()>=</button>
				</div>
			</div>



			<div id="calculator">
				<div class="display">
					<input type="text" disabled class="result">
				</div>
				<div class="container__buttons">
					<div class="numbers">
						<div class="number">7</div>
						<div class="number">8</div>
						<div class="number">9</div>
						<div class="number">4</div>
						<div class="number">5</div>
						<div class="number">6</div>
						<div class="number">1</div>
						<div class="number">2</div>
						<div class="number">3</div>
						<div class="number zero">0</div>
					</div>
					<div class="signs">
						<div class="sign plus">+</div>
						<div class="sign">-</div>
						<div class="sign">*</div>
						<div class="sign">/</div>
						<div class="equal">=</div>
						<div class="sign clean">C</div>
						<div class="back"><span class="material-icons">
							keyboard_backspace
							</span></div>
					</div>
				</div>
			</div>
				<script src="index.js"></script>
				<script src="vue.js"></script>
    </body>
</html>